server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/autohub
    username: autohub
    password: autohub
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration

app:
  jwt:
    secret: "dev-secret-change-me-please-32-bytes"
    ttl-minutes: 240
